--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.8.0+cu126
openai>=1.92.2
protobuf>=6.33.4
pyparsing<=3.2.3
Requests>=2.32.4
scenic>=3.1.0
sentence_transformers>=4.1.0
setGPU==0.0.7
tqdm==4.67.1
google-genai>=1.60.0